.CommentView {
  display: inline-block;
  margin-left: 75px;
  position: relative;
  width: calc(100% - 85px);
  opacity: 1.0;

  &.DarkTheme {
    color: white;
  }
  &.LightTheme {
    color: black;
  }
  
  .ProfileSection {
    display: inline-block;
    width: 60px;
    height: 80px;
    position: absolute;
    top: 5px;
    text-align: center;
    
    .ProfileImage {
      height : 60px;
      width : 60px;
      background-color : rgb(200,200,200);
      border-style : solid;
      border-width : 1px;
    }
    
    .ProfileOwnerName {
      font-size : 15px;
    }
  }
  
  .DescriptionSection {
    display: inline-block;
    width: calc(100% - 90px);
    margin-left: 70px;
    margin-top: 5px;
    min-height: 90px;
    text-align: left;
    
    .Description {
      width : 90%;
      word-wrap: break-word;
    }
    
    .EditDescription {
      width : 90%;
      word-wrap: break-word;
      color : black;
    }

    .EditComment {
      float : right;
    }

    .SaveComment {
      float : right;
    }

    .DeleteComment {
      float: left;
    }
  }
}