.FullView {
  .CommentContainer {
    color: white;
  }

  .CommentBox {


    .CommentTextBox {
      float: left;
      width: calc(100% - 100px);
      height: 200px;
      margin-left: 70px;
      margin-top: 10px;
      resize: none;
    }

    .CommentButton {
      float: left;
      margin-left: 70px;
      width: 100px;
    }
  }
}