.vs/
ROID-Forum-Server/ROID-Forum-Server/bin/
ROID-Forum-Server/ROID-Forum-Server/obj/
**/.idea
**/dist
**/node_modules
ROID-Forum-Web-Client/yarn-error.log
.DS_Store
ROID-Forum-Server/ROID-Forum-Server.sln.DotSettings.user
