#forumView.forumWebsiteNameDiv {
    padding-left : 3px;
    width : calc(100% - 3px);
    color : black;
    font-size : 15px;
    display : inline-block;
    text-overflow : ellipsis;
    overflow : hidden;
    white-space : nowrap;
    font-weight : bold;
    cursor : pointer;
}
#forumView.folderImage {
    margin-right: 6px;
}
#forumView.forumHolder {
    margin-top : 50px;
    border-top-style:none;
    border-color:black;
    border-width:1px;
    width:calc(100% - 50px);
    margin-left:25px;
    margin-right:25px;
}
#forumView.forumLabel {
    height: 23px;
    width: 100%;
    borderBottomStyle: solid;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
    display: flex;
    border-left-style: solid;
    border-right-style: solid;
    background-color: rgb(0, 102, 102);
}
#forumView.forumNameLabel {
    flex : 1;
    flex-basis : 495px;
    border-right-style : solid;
    border-color : black;
    border-width : 1px;
    color:white;
    padding-left : 5px;
    line-height : 23px;
}
#forumView.forumSectionsLabel {
    flex : 0;
    flex-basis : 61px;
    border-right-style : solid;
    border-color : black;
    border-width : 1px;
    color:white;
    text-align : center;
    line-height : 23px;
    min-width : 61px;
}
#forumView.forumThreadsLabel {
    flex: 0;
    flex-basis: 59px;
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
    color: white;
    text-align: center;
    line-height: 23px;
    min-width: 59px;
}
#forumView.forumPostsLabel {
    flex: 0;
    flex-basis: 42px;
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
    color: white;
    text-align: center;
    line-height: 23px;
    min-width: 42px;
}
#forumView.forumLastPostLabel {
    flex: 1;
    flex-basis: 230px;
    color: white;
    text-align: center;
    line-height: 23px;
    min-width: 230px;
}