#sectionView.websiteNameDiv {
padding-left : 3px;
width : calc(100% - 3px);
color : rgb(22, 20, 114);
font-size : 15px;
display : inline-block;
text-overflow : ellipsis;
overflow : hidden;
white-space : nowrap;
font-weight : bold;
cursor : pointer;
}
#sectionView.folderImage {
    margin-right : 6px;
}
#sectionView.forumNameDiv {
    padding-left : 3px;
    width : calc(100% - 3px);
    color : black;
    font-size : 15px;
    display : inline-block;
    text-overflow : ellipsis;
    overflow : hidden;
    white-space : nowrap;
    font-weight : bold;
    cursor : pointer;
}#sectionView.subFolderImage {
     margin-right : 6px;
     margin-left : 6px;
 }
#sectionView.pagesDiv {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: calc(100% - 6px);
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}
#sectionView.pagesSpan {
    font-weight:bold;
    font-size:16px;
}
#sectionView.pageNumbers {
    font-weight:bold;
    font-size:16px;
}
#sectionView.newSectionSpan {
    font-weight:bold;
    font-size:14px;
    float:right;
    margin-right : 6px;
    color:rgb(0,0,150);
    cursor : pointer;
}
#sectionView.newSectionIcon {
    float:right;
    padding-right:3px;
    padding-top:2px;
}
#sectionView.sectionHolder {
    margin-top : 50px;
    border-color:black;
    border-width:1px;
    width:calc(100% - 50px);
    margin-left:25px;
    margin-right:25px;
}
#sectionView.descriptionDiv {
    border-width : 1px;
    border-color : black;
    border-style : solid;
    width:calc(100% - 6px);
    font-size : 13px;
    padding-left : 6px;
    padding-top : 4px;
    padding-bottom : 4px;
}
#sectionView.sectionLabel {
    height:23px;
    width:100%;
    border-bottom-style:solid;
    border-top-style:solid;
    border-left-style:solid;
    border-right-style:solid;
    border-color:black;
    border-width:1px;
    display:flex;
    background-color:rgb(0, 102, 102);
}
#sectionView.sectionNameLabel {
   flex : 1;
   flex-basis : 495px;
   border-right-style : solid;
   border-color : black;
   border-width : 1px;
    color:white;
    padding-left : 5px;
    line-height : 23px;
}
#sectionView.sectionThreadsLabel {
    flex : 0;
    flex-basis : 59px;
    border-right-style : solid;
    border-color : black;
    border-width : 1px;
    color:white;
    text-align : center;
    line-height : 23px;
    min-width : 59px;
}
#sectionView.sectionPostsLabel {
    flex : 0;
    flex-basis : 42px;
    border-right-style : solid;
    border-color : black;
    border-width : 1px;
    color:white;
    text-align : center;
    line-height : 23px;
    min-width : 42px;
}
#sectionView.sectionLastPostLabel {
    flex : 1;
    flex-basis : 230px;
    color:white;
    text-align : center;
    line-height : 23px;
    min-width : 230px;
}