.ThreadControllerView {
  .ThreadHeaderView {
    .ThreadHeaderTitle {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 14px;
      font-size: 25px;
      color: white;
    }
  }
  .FullView {

  }
  .NewPostButton {
    width: 140px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    font-size: 15px;
    top: 5px;
    position: absolute;
    outline: none;
    right: 5px;
    &:active {
      background: #BBBBBB;
    }
  }
  .BackButton {
    width: 60px;
    height: 30px;
    background-color: white;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    font-size: 15px;
    top: 5px;
    position: absolute;
    outline: none;
    left: 5px;
    &:active {
      background: #BBBBBB;
    }
  }
}